body{

	background-color: #FFC281;
	font-family: Verdana, sans-serif;
}

.conteiner{
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	
	border: 1px solid rgba(0,0,0,1);
	max-width: 600px;
	height:300px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF8141;

	
}

.conteiner-register{
	
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;
	
	border: 1px solid rgba(0,0,0,1);
	max-width: 600px;
	height:600px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #FF8141;

	
}

.box-login,.box-register {
	
	margin-top:5%;
    margin-left:auto;
    margin-right:auto;
	width:150px;

	
}

.logo-login{
	
	margin-top:10px;
	
	width:150px;
	height:50px;
	
	
	
}

button{

	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	
}

footer{
	
	position: absolute;
	bottom: 0;
	left: 0;
	display:block;
	
	width: 100%;
	background-color: #FF8141;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	text-align:center;
	font-family: Verdana, sans-serif;
}

